<mat-card class="project-card">
    <mat-card-header>
        <mat-card-title>
            <h3>{{project.name}}</h3>
        </mat-card-title>
        <!--<button mat-icon-button (click)="open(project)">
            <mat-icon class="example-icon">more_horiz</mat-icon>
        </button>-->
    </mat-card-header>
    <div class="tools">
        <!--<div class="badge-icon">
            <mat-icon class="example-icon">remove_red_eye</mat-icon>
            <span class="badge" *ngIf="project.watchers_count>0">{{project.watchers_count}}</span>
        </div>-->
        <!--<div><button mat-icon-button>
            <mat-icon class="example-icon">error_outline</mat-icon>
        </button></div>-->
        <div><button mat-icon-button (click)="onDetails(project)">
            <mat-icon class="example-icon">more_horiz</mat-icon>
        </button></div>
        <div class="badge-icon">
            <mat-icon class="example-icon">star</mat-icon>
            <span class="badge" *ngIf="project.stargazers_count>0">{{project.stargazers_count}}</span>
        </div>
    </div>
    <p>{{project.description}}</p>
    <!-- Place this tag where you want the button to render. -->
    <!--<a class="github-button" [href]="project.html_url" data-icon="octicon-star" [attr.data-count-href]="project.full_name+'/stargazers'" [attr.data-count-api]="'/repos/'+project.full_name+'#stargazers_count'" data-count-aria-label="# stargazers on GitHub" [attr.aria-label]="'Star '+project.full_name+' on GitHub'">Star</a>-->
    <mat-chip-list>
        <mat-chip color="primary" selected="true">{{project.fork? 'fork' : 'owner'}}</mat-chip>
    </mat-chip-list>
    <mat-card-actions>
        <a mat-button [href]="project.html_url" target="_blank">SEE</a>
    </mat-card-actions>
</mat-card>
