<md-toolbar color="primary">
    <a md-icon-button (click)="sidemenu.toggle()">
        <md-icon>menu</md-icon>
    </a>
    <a md-button [routerLink]="['/home']">Merlosy</a>
    <a md-button [routerLink]="['/projects']">PROJECTS</a>
    <span class="example-spacer"></span>

    <a md-icon-button [routerLink]="['/todo']">
        <md-icon class="example-icon">alarm_add</md-icon>
    </a>
    <span mdTooltip="Contact">
        <button md-icon-button>
            <md-icon class="example-icon">person</md-icon>
        </button>
    </span>
</md-toolbar>