.form-card {
    margin-bottom: 20px;
}

.project-card {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}