@import '../../../styles/merlosy-theme';
.form-card {
    margin-bottom: 20px;
}

$card-width: 60px;
.project-card {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding-right: calc(#{$card-width} + 10px);
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    width: $card-width;
    height: 100%;
    background-color: md-color($merlosy-accent);
}

.tools>* {
    text-align: center;
}