<mat-card class="form-card">
    <mat-card-content>
        <h2>Filters</h2>
        <form novalidate [formGroup]="searchForm">
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="owner">Owned</mat-checkbox>
                <mat-checkbox class="example-margin" formControlName="fork">Forked</mat-checkbox>
            </section>
            <section class="example-section">
                <mat-radio-group formControlName="sort">
                    <mat-radio-button value="full_name">Name</mat-radio-button>
                    <mat-radio-button value="created">Creation</mat-radio-button>
                    <mat-radio-button value="updated">Last update</mat-radio-button>
                    <mat-radio-button value="pushed">Last push</mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="example-section">
                <mat-radio-group formControlName="type">
                    <mat-radio-button value="owner">Propriétaire</mat-radio-button>
                    <mat-radio-button value="member">Membre</mat-radio-button>
                    <mat-radio-button value="all">Tout</mat-radio-button>
                </mat-radio-group>
            </section>
        </form>
    </mat-card-content>
</mat-card>

<div class="grid-container">
  <app-card *ngFor="let project of projects | async" [project]="project"></app-card>
</div>
