@import '../../../styles/merlosy-theme';
$card-width: 60px;
.form-card {
    margin-bottom: 20px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
}

.tools>* {
    text-align: center;
}

mat-radio-button {
    padding-left: 10px;
}
