<h1 mat-dialog-title>{{project.name}}</h1>
<div mat-dialog-content>
		<!-- <pre>{{project | json}}</pre> -->
    <div *ngIf="!project.id" class="centered">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="project.id">
        <p>{{project.description}}</p>
        <div mat-chip-list>
            <div mat-chip color="accent" selected="true">Watchers<span class="chip-badge">{{project.watchers_count}}</span></div>
            <a class="chip-button" [href]="project.html_url+'/stargazers'">
                <div mat-chip color="primary" selected="true">Stargazers<span class="chip-badge">{{project.stargazers_count}}</span></div>
            </a>
            <a class="chip-button" [href]="project.html_url+'/fork'">
                <div mat-chip>Forks<span class="chip-badge">{{project.forks_count}}</span></div>
            </a>
            <div mat-chip color="warn" selected="true">Open Issues<span class="chip-badge">{{project.open_issues_count}}</span></div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button mat-dialog-close>Close</button>
    <!--<button mat-raised-button (click)="dialogRef.close('yes')">Yes</button>-->
</div>
