      @import '../styles/merlosy-theme';
       :host {
          height: 100vh;
          display: block;
      }
      
      $dark-bg: #383838;
      $dark-fore: mat-color($merlosy-primary);
      router-outlet {
          display: block;
          padding-top: 64px;
      }
      
      md-sidenav-container {
          min-height: 100%;
      }
      
      .mat-sidenav-container {
          background-color: transparent;
          height: 100%;
          width: 100%;
      }
      
      md-sidenav.md-sidenav-main {
          min-width: 12vw;
          background-color: $dark-bg;
      }
      
      md-sidenav.md-sidenav-main .mat-list .mat-subheader,
      md-sidenav.md-sidenav-main .mat-nav-list .mat-subheader {
          color: lighten( $dark-fore, 30%);
      }
      
      md-sidenav.md-sidenav-main .mat-list .mat-list-item,
      md-sidenav.md-sidenav-main .mat-nav-list .mat-list-item {
          color: #ffffff;
      }
      
      md-sidenav.md-sidenav-main .mat-list a:hover,
      md-sidenav.md-sidenav-main .mat-list a:focus,
      md-sidenav.md-sidenav-main .mat-nav-list a:hover,
      md-sidenav.md-sidenav-main .mat-nav-list a:focus {
          background-color: lighten($dark-bg, 12%);
      }